@tailwind base;
@tailwind components;
@tailwind utilities;



.img_glow{
    box-shadow: 0 0 55px rgb(237, 139, 227);
}
.neno-button{
    transform: all 0.3s ease-in-out;
}
.b_glow{
    box-shadow: 0 0 15px rgb(237, 139, 227);
}
